{% include "./header.html" %}

<main class="container">
    <div class="left info">
        {% include "./profile.html" %}
        {% include "./education.html" %}
        {% include "./personal.html" %}
        {% include "./qrcode.html" %}
    </div>
    <div class="professional">
        <section>
            {% include "./skills.html" %}
        </section>
        <section>
            {% include "./project.html" %}
        </section>
        <section>
            {% include "./experience.html" %}
        </section>
    </div>
</main>
